
@{
    ViewBag.Title = "ClientReservation";
}

<h2>Klientų rezervacijos įvairiems klausimas langas</h2>


<br>
@Html.ActionLink("Naujos rezervacijos langas", "AddClientReservation", "ClientReservation")
<br>
@Html.ActionLink("Rezervacijos istrynimo langas", "DeleteClientReservation", "ClientReservation")
<br>
@Html.ActionLink("Atgal i pagrindini puslapi", "Index", "Home")

