
@{
    ViewBag.Title = "OrderView";
}

<h2>Užsakymo peržiūra</h2>

@Html.ActionLink("Redaguoti užsakymą", "OrderEdit", "OrderManagement")
<br>

@Html.ActionLink("Atgal", "OrdersList", "OrderManagement") 