@{
    ViewBag.Title = "Home Page";
}

<h2>Pradinis puslapis</h2>


<div class="panel panel-default">
    <div class="panel-body">
        <h3>Apmokėjimų valdymas</h3>
        <br>
        @Html.ActionLink("Sąskaitų administravimo langas", "BillManagement", "BillManagement")
        <br>
        @Html.ActionLink("Sąskaitų apmokėjimo langas", "BillPaymentList", "BillPayment")
        <br>
        @Html.ActionLink("Sąskaitų valdymo langas", "BillControl", "BillControl")
    </div>
</div>