@model IEnumerable<Onmiva.Models.Bill>
@{
    ViewBag.Title = "BillControl";
}

<h2>Sąskaitų valdymo langas</h2>

<br>
@Html.ActionLink("Atgal", "Index", "Home")

<ul class="list-group">

    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("BillView", "BillControl", new { billId = item.NumberId } )">Sąskaita nr. @item.NumberId @item.Date </a>
        </li>
    }

</ul>


