@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Schedule</h2>


<br>
@Html.ActionLink("Atidaryti darbuotojų pasirinkimą", "ChooseWorker", "Workers")
<br>
@Html.ActionLink("Atgal i pagrindini puslapi", "Index", "Home")


