
@{
    ViewBag.Title = "Workers";
}

<h2>Workers</h2>


<br>
@Html.ActionLink("Darbų kūrimo langas", "ChooseWorker", "Workers")
<br>
@Html.ActionLink("Darbuotojo ir darbo pasirinkimo langas", "WorkerAndWork", "Workers")
<br>
@Html.ActionLink("Atgal i pagrindini puslapi", "Index", "Home")
