
@{
    ViewBag.Title = "BillPaymentStateList";
}

<h2>Sąskaitų apmokėjimo būsenų sąrašas</h2>
<br>
@Html.ActionLink("Atgal", "BillManagement", "BillManagement")


<ul class="list-group">
    <li class="list-group-item"> Sąskaita 1 - Apmokėta</li>
    <li class="list-group-item"> Sąskaita 2 - Neapmokėta </li>
</ul>

