@model IEnumerable<Onmiva.Models.Bill>
@{
    ViewBag.Title = "BillPaymentStateList";
}

<h2>Sąskaitų apmokėjimo būsenų sąrašas</h2>
<br>
@Html.ActionLink("Atgal", "BillManagement", "BillManagement")


<ul class="list-group">
    @foreach (var item in Model)
    {
    <li class="list-group-item">
        Sąskaita @item.NumberId Sukurta: @item.Date Apmokėti iki: @item.PayUntil
        @if (item.State == "apmoketa")
        {
            <span style="color:green">Apmokėta</span>
        }
        else if (item.State == "neapmoketa")
        {
            <span style="color:red">Neapmokėta</span>
        }
        else
        {
            <span style="color:yellowgreen">Laukiama apmokėjimo patvirtinimo</span>
        }
    </li> 
    }
    </ul>

