@model IEnumerable<Onmiva.Models.Bill>
@{
    ViewBag.Title = "BillPaymentStateList";
}

<h2>Sąskaitų apmokėjimo būsenų sąrašas</h2>
<br>
@Html.ActionLink("Atgal", "BillManagement", "BillManagement")


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nr</th>
            <th scope="col">Sukūrimo data</th>
            <th scope="col">Apmokėti iki</th>
            <th scope="col">Būsena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NumberId</td>
                <td>@item.Date</td>
                <td>@item.PayUntil</td>
                <td>
                    @if (item.State == "apmoketa")
                    {
                        <span style="color:green">Apmokėta</span>
                    }
                    else if (item.State == "neapmoketa")
                    {
                        <span style="color:red">Neapmokėta</span>
                    }
                    else
                    {
                        <span style="color:yellowgreen">Laukiama apmokėjimo patvirtinimo</span>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
