
@{
    ViewBag.Title = "Route";
}

<h2>Route</h2>


<br>
@Html.ActionLink("Atidaryti darbu pasirinkima", "FilterVacationCalendar", "Schedule")
<br>
@Html.ActionLink("Atgal i pagrindini puslapi", "Index", "Home")
